.error-page-container {

    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
}

.err-emoji-div {
    font-size: 40px;
}


.error-page-container p {

    margin-inline: 1rem;
}

.error-info-container a {
    width: 100px;
    height: 30px;

    margin-inline: auto;
    margin-top: 1rem;
  
    background-color: #ff6961;
    color: white;
    border: 0;
    border-radius: 3px;
  
    font-weight: 600;
  
    cursor: pointer;
  }


@media only screen and (min-width: 730px) {

.error-page-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-info-container {
    max-width: 600px;
    
}


.error-info-container a:hover {
    background-color: transparent;
    color: #ff6961;
    border: 2px solid #ff6961;
  }
  

}