.main-faq-div {
  width: 85%;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main-faq-div h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.faq-card {
  display: flex;
  flex-direction: column;

  
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-bottom: 2rem;

  overflow: auto;
}

.faq-card-question {
  padding: 12px;

 

  background: rgb(180, 58, 126);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 126, 0.2934567577030813) 0%,
    rgba(85, 29, 253, 0.25143995098039214) 50%,
    rgba(252, 176, 69, 0.3298713235294117) 100%
  );

 
  
}

.faq-card-answer {
  padding: 12px;
}

.faq-card-answer a {
  display: inline;
  text-decoration: underline;
  font-style: bold;
}

@media only screen and (min-width: 730px) {
  .main-faq-div {
    max-width: 600px;
  }
}
