main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;

  background-color: red;
  color: white;
  border: 0;
  border-radius: 3px;

  font-weight: 600;

  cursor: pointer;
}

button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

/* Hero Section */

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
}

#hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-description h1 {
  line-height: 30px;
  margin-top: 2rem; 
  margin-bottom: 0.8rem;
}

#hero-description a {
  margin-top: 1rem;
}

#expert-text {
  text-decoration: underline;
  text-decoration-color: red;
}

#hero-image {
  width: 100%;
}

/* Features Section */

h2 {
  width: 90%;
  margin-bottom: 1rem;
}

#features-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#features {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.icons-div {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.icons {
  width: 100%;
}

/* Call to Action Section */

#call-to-action {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
}

#call-to-action h3 {
  text-align: center;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 730px) {

  /* Hero Section */

  #hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-width: 400px;
    max-width: 1200px;

    text-align: left;
  }

  #hero-description {
    align-items: flex-start;
    width: 45%;
  }

  #hero-description h1 {
    margin-top: 0; 
  }

  #hero-container {
    width: 70%;
    padding: 2rem;
  }

  /* Features Section */

  #features-section {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    max-width: 600px;
    margin-bottom: 2rem;
  }

  #features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .feature-item {
    transition: all 0.4s ease-out;
  }

  .feature-item:hover {
    transform: scale(1.05);
  }

  .feature-item p {
    width: 80%;
    white-space: wrap;
  }

  
}
