#projects-header-container {
  text-align: center;
  margin-top: 2rem;
}



.projects-container {
  width: 85%;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.project-div {
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;

  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: center;
  color: white;

  overflow: hidden;

}

.project-div h1 {
    font-size: 1.6rem;
}

a {
  display: block;
}

.project-images {
  width: 100%;
  border-bottom: 2px solid black;
  object-fit: contain;
}

.dificulty {
  display: block;
}



@media only screen and (min-width: 730px) {

  #projects-header-container h1{
    font-size: 4rem;
  }
 
    #main-container-div {
        max-width: 1400px;
        margin-inline: auto;
      }
    
      .projects-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      /* -webkit-box-pack: center; */
      justify-content: center;
      }
    
      .project-div {
        cursor: pointer;
    
        max-width: 300px;
        margin: 18px;
        transition: ease 2s;
      }



}


@media only screen and (min-width: 1200px) {
    

    .project-div {
        max-width: 300px;
        transition: ease 2s;
    }

  }