#projects-header-container {
  text-align: center;
  margin-top: 2rem;
}

#projects-header-container h1{
  font-size: 2.3rem;
  text-decoration: underline;
  text-decoration-color: rgba(255, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.emoji {
  font-size: 1.5rem;
}

#get-started-div {
  width: 85%;
  margin-inline: auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.269);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #ffecef;
  font-size: 1.1rem;

  background: rgb(180, 58, 126);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 126, 0.2934567577030813) 0%,
    rgba(85, 29, 253, 0.25143995098039214) 50%,
    rgba(252, 176, 69, 0.3298713235294117) 100%
  );
}




.projects-container {
  width: 80%;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.project-div {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.269);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;

  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: center;
  color: white;

  overflow: hidden;
}

.project-div h1 {
  font-size: 1.6rem;
}

a {
  display: block;
}

.project-images {
  width: 100%;
  /* border: 2px solid rgba(0, 0, 0, 0.269); */
  object-fit: contain;
}

.dificulty {
  display: block;
}

@media only screen and (min-width: 730px) {
  #projects-header-container h1 {
    font-size: 4rem;
  }

  #get-started-div {
    max-width: 600px;
  }

  .get-started-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emoji {
    margin-right: 8px;
  }

  #difficulty-btn-div {
    max-width: 400px; 
  }

  #difficulty-btn-div button {
    transition: ease 0.5s;
  }

  #difficulty-btn-div button:hover {
    transform: scale(1.1);
  }

  #main-container-div {
    max-width: 1400px;
    margin-inline: auto;
  }

  .projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* -webkit-box-pack: center; */
    justify-content: center;
  }

  .project-div {
    cursor: pointer;

    max-width: 300px;
    margin: 18px;
    transition: ease 2s;
  }

  .project-div:hover {
    transform: scale(1.02);
    transition: ease 0.5s;
  }
}

@media only screen and (min-width: 1200px) {
  .project-div {
    max-width: 300px;
    transition: ease 2s;
  }
}
