* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: rgb(48, 43, 43);
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: white;
  height: 5rem;
  font-weight: 600;
  border-bottom: 2px solid rgb(48, 43, 43);
  position: relative;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#header-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-logo {
  display: block;
  font-size: 1.4rem;
}

#desktop-nav {
  display: none;
  font-size: 1.2rem;
  font-weight: 600;
}

#desktop-nav li {
  cursor: pointer;
}

#desktop-nav li:hover {
  text-decoration: underline;
  
}

#hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  cursor: pointer;


  position: absolute;
  right: 1rem;
  z-index: 2;
}

.menu-bar {
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(48, 43, 43);
  border-radius: 5px;
}



#modal {
  width: 60%;
  min-height: 100vh;
  
  
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-left: 2px solid rgb(48, 43, 43);
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

#modal ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

#modal li {
  margin-bottom: 2rem;
}

footer {
  min-height: 10rem;
  width: 100%;
  background-color: black;
  color: white;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
}

footer li {
  margin: 0.4rem;
}

#footer-logo {
  font-size: 1.8rem;
  margin: 0.2rem;
}

#footer-line {
  background-color: white;
  height: 2px;
  width: 80%;
  max-width: 1200px;
}

#footer-links {
  display: flex;
  margin: 0.2rem;
}

#footer-links a {
  margin-inline: 0.2rem;
  font-size: 1.1rem;
}

@media only screen and (min-width: 730px) {
  body {
    min-height: 100vh;
  }


  #hamburger-menu {
    display: none;
  }

  #header-container {
    max-width: 1200px;
  }

  #site-logo {
    font-size: 2rem;
  }

  #site-logo:hover {
    text-decoration: underline;
    color: black;
  }

  #desktop-nav {
    display: block;
  }

  #desktop-menu {
    display: flex;
  }

  #desktop-menu li {
    margin-inline: 1rem;
  }
}
